@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Lato';
}

.basic {
	color: #01996d;
}

.basic-bg {
	background-color: #01996d;
}

.black {
	color: #292929;
}

.wrapper {
	width: 1920px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav {
	width: 100%;
	height: 85px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu {
	width: 550px;
	display: flex;
	align-items: center;
	font-size: 20px;
}

.menu-item {
	width: 100%;
	display: flex;
	justify-content: space-around;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-item a {
	color: #292929;
}

.sign-in-block {
	width: 250px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 20px;
}

.sign-in-block a {
	color: #292929;
}

.green-btn {
	height: 65px;
	border: none;
	border-radius: 4px;
	background-color: #01996d;
	padding: 15px 45px;
	font-size: 20px;
}

.green-btn a {
	color: #fff;
}

header {
	width: 100%;
	height: 895px;
	padding: 175px 0 0 275px;
	background-image: url('/img/BG.jpg');
}

.header-content {
	width: 440px;
	height: 385px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
	gap: 30px;
}

.header-content p {
	font-size: 20px;
	color: #484848;
}

.content-title {
	font-size: 40px;
	font-weight: bold;
	color: #01996d;
}

.how-it-work {
	width: 1415px;
	margin-top: 169px;
}

.content-title h4 {
	color: #292929;
	font-size: 24px;
}

.how-it-work .header {
	width: 100%;
	height: 327px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header .header-title {
	width: 830px;
}

.how-content {
	width: 600px;
	font-size: 20px;
	color: #484848;
}

.info-card {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 95px;
}

.card {
	position: relative;
	width: 390px;
	height: 937px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.card:nth-child(1)::before {
	content: '01';
	font-size: 150px;
	font-weight: bolder;
	color: rgba(1, 153, 109, 0.2);
	position: absolute;
	top: -15px;
	left: 15px;
}

.card:nth-child(2)::before {
	content: '02';
	font-size: 150px;
	font-weight: bolder;
	color: rgba(1, 153, 109, 0.2);
	position: absolute;
	top: -5px;
	left: 15px;
}

.card:nth-child(3)::before {
	content: '03';
	font-size: 150px;
	font-weight: bolder;
	color: rgba(1, 153, 109, 0.2);
	position: absolute;
	top: -5px;
	left: 15px;
}

.card:nth-child(2) {
	margin-top: 205px;
}

.card .title {
	font-size: 30px;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.card p {
	font-size: 20px;
	color: #484848;
}

.story-tab {
	width: 100%;
	height: 922px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #245852;
	padding: 150px;
}

.about-story {
	width: 670px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 30px;
}

.about-story .content-title {
	color: #fff;
}

.about-story p {
	color: #fff;
	font-size: 25px;
}

.video {
	width: 855px;
	height: 516px;
}

.product-tab {
	width: 1370px;
	height: 648px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 86px;
	margin-top: 120px;
}

.product-img {
	width: 638px;
	height: 573px;
}

.about-product {
	width: 600px;
	height: 413px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
	gap: 25px;
}

.about-product p {
	font-size: 20px;
	color: #484848;
}

footer {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #245852;
	margin-top: 168px;
}

.logo {
	font-size: 40px;
	color: #fff;
}

.footer-nav {
	margin-left: 200px;
}

.footer-menu-item {
	width: 100%;
	display: flex;
	justify-content: space-around;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-menu-item a {
	color: #fff;
	font-size: 25px;
}

@media (max-width: 900px) {
	.wrapper {
		width: 100%;
		gap: 60px;
	}

	nav {
		width: 100%;
	}

	.menu {
		width: 400px;
		font-size: 18px;
	}

	.sign-in-block {
		font-size: 18px;
	}

	p {
		font-size: 16px !important;
	}

	header {
		width: 100%;
		height: 100%;
		padding: 50px 0 0 50px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.header-content {
		gap: 30px;
		justify-content: center;
	}

	.content-title {
		font-size: 22px;
	}

	.green-btn {
		height: 50px;
		padding: 5px 20px;
		font-size: 18px;
	}

	.how-it-work {
		width: 100%;
		margin-top: 50px;
	}

	.info-card {
		flex-wrap: wrap;
		gap: 20px;
	}

	.card:nth-child(2) {
		margin-top: 0px;
	}

	.card .title {
		font-size: 24px;
	}

	.card::before {
		position: absolute;
		top: 50px !important;
		left: 70px !important;
		font-size: 100px !important;
	}

	.story-tab {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
		width: 100%;
	}

	.video {
		max-width: 750px;
	}

	.video img {
		width: 100%;
	}

	.product-tab {
		width: 100%;
		height: 750px;
		flex-direction: column;
		gap: 50px;
		margin-top: 50px;
	}

	.product-img {
		width: 500px;
	}

	.product-img img {
		width: 100%;
	}

	footer {
		width: 100%;
		height: 100px;
		margin-top: 50px;
	}

	.logo {
		font-size: 26px;
	}

	.footer-menu-item a {
		font-size: 18px;
	}
}
